.DS_Store
.tool-versions
build/*
.existdb.json
!.gitignore
!.github/
!.releaserc
schema/remove-classDecl.xsl
schema/remove-add-classDecl.xsl
schema/add-dc-namespace-to-root.xsl
tests/*-result.html
gitsha.xml
.vscode/
.idea/
node_modules/
# Debug
logs/
.notes/