{
  "branches": ["master"],  
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
        { "type": "!(fix|feat|build|chore|ci|docs|style|refactor|perf|test)", "release": "patch" }
      ]
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits"
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "ant -Dapp.version=${nextRelease.version} -Drelease=true"
    }],
    ["@semantic-release/git", {
      "assets": ["expath-pkg.xml", "repo.xml"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "build/frus.xar", 
          "name": "frus.xar",
          "label": "Expath package (frus.xar)"
        }
      ]
    }]
  ]
}
